# Virtual environment
venv/
__pycache__/
*.pyc
*.pyo

# Flask uploads
uploads/
instance/
*.db

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs
logs/
*.log

# Ignore environment variables
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore models and data (if needed)
data/
